//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 12 15:38:56 2016
//! **************************************************************************

SCHEMATIC START;
COMP "system_clock" LOCATE = SITE "T9" LEVEL 1;
COMP "system_reset" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

